<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OriginLiveView.Locations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OriginLiveView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OriginLiveView.Locations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <applicationSettings>
        <OriginLiveView.Locations>
            <setting name="Name" serializeAs="String">
                <value>Briceno</value>
            </setting>
            <setting name="Latitude" serializeAs="String">
                <value>-0.5310888889</value>
            </setting>
            <setting name="Lonitude" serializeAs="String">
                <value>-80.4405583333</value>
            </setting>
        </OriginLiveView.Locations>
    </applicationSettings>
    <userSettings>
        <OriginLiveView.Properties.Settings>
            <setting name="SavedLatitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedLongitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedTimeZone" serializeAs="String">
                <value>America/Guayaquil</value>
            </setting>
        </OriginLiveView.Properties.Settings>
        <OriginLiveView.Locations>
            <setting name="Timezone" serializeAs="String">
                <value>America/Guayaquil</value>
            </setting>
        </OriginLiveView.Locations>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>